---
- name: Check is node installed
  ansible.builtin.shell: command -v node >/dev/null 2>&1
  register: is_node_exist
  ignore_errors: true

# TODO Install node if not installed...
# curl -sfLS install-node.vercel.app | sh -s -- --prefix=$HOME

- name: Check if coc extenstions file exists
  ansible.builtin.stat:
    path: ~/.config/coc/extensions/package.json
  register: package_exists

- name: Create package.json
  ansible.builtin.lineinfile:
    path: ~/.config/coc/extensions/package.json
    line: { "dependencies": {}}
    create: true
  when: package_exists.stat.exists == False

- name: Install CoC extensions
  ansible.builtin.command:
    chdir: ~/.config/coc/extensions/
    cmd: "npm install {{ item }} --global-style --ignore-scripts --no-bin-links --no-package-lock --only=prod"
  loop:
    - coc-calc
    - coc-yaml
    - coc-snippets
    - coc-docker
    - coc-git
    - coc-html
    - coc-json
    - coc-pyright
    - coc-snippets
