---
- name: asdf node| check if plugin is installed
  ansible.builtin.shell: asdf plugin list
  register: asdf_plugins
  changed_when: false

- name: asdf node| install node plugin
  ansible.builtin.command: asdf plugin add nodejs https://github.com/asdf-vm/asdf-nodejs.git
  when: "'nodejs' not in asdf_plugins.stdout"

# Using 16.20.2 - as this is the latest supported in CentOS7
- name: asdf node| check installed versions
  ansible.builtin.shell: asdf list nodejs 2>/dev/null
  register: asdf_node_versions
  changed_when: false
  failed_when: false

- name: asdf node| install node
  ansible.builtin.command: sh -c "asdf install nodejs 16.20.2"
  when: "'16.20.2' not in asdf_node_versions.stdout"

- name: asdf node| check current default
  ansible.builtin.shell: asdf current nodejs 2>/dev/null
  register: asdf_node_current
  changed_when: false
  failed_when: false

- name: asdf node| set default
  ansible.builtin.command: asdf set -u nodejs 16.20.2
  when: "'16.20.2' not in asdf_node_current.stdout"
