---
- name: fdfind install
  include_tasks: install_github_release.yml
  vars:
    package_name: fdfind
    github_repo: sharkdp/fd
    binary_name: fd
    download_url: "https://github.com/sharkdp/fd/releases/download/v{{ latest_version }}/fd-v{{ latest_version }}-x86_64-unknown-linux-musl.tar.gz"
    download_dest: /tmp/fd.tar.gz
    extract_include: "fd-v{{ latest_version }}-x86_64-unknown-linux-musl/fd"
    extract_extra_opts: ["--strip-components=1"]
