---
- name: fzf install
  include_tasks: install_github_release.yml
  vars:
    package_name: fzf
    github_repo: junegunn/fzf
    download_url: "https://github.com/junegunn/fzf/releases/download/v{{ latest_version }}/fzf-{{ latest_version }}-linux_amd64.tar.gz"
