---
- name: keychain install
  include_tasks: install_github_release.yml
  vars:
    package_name: keychain
    github_repo: funtoo/keychain
    strip_v: false
    is_archive: false
    download_url: "https://github.com/funtoo/keychain/releases/download/{{ latest_version }}/keychain"
    download_dest: ~/bin/keychain
    version_cmd: "~/bin/keychain -V 2>&1 | grep -oP 'v?\\d+\\.\\d+\\.\\d+' | head -n1"
