---
- name: lazygit install
  include_tasks: install_github_release.yml
  vars:
    package_name: lazygit
    github_repo: jesseduffield/lazygit
    download_url: "https://github.com/jesseduffield/lazygit/releases/download/v{{ latest_version }}/lazygit_{{ latest_version }}_Linux_x86_64.tar.gz"
    extract_include: lazygit
