---
- name: "Install homebrew packages"
  community.general.homebrew:
    name:
      [
        "fzf",
        "neovim",
        "asdf",
        "mcfly",
        "fd",
        "zoxide",
        "yazi",
        "fish",
        "keychain",
        "starship",
      ]
    state: present
    update_homebrew: yes
  when: ansible_distribution == 'MacOSX'

- name: Install Neovim
  import_tasks: neovim.yml
  when: ansible_distribution != 'MacOSX'
- name: Install Local McFly
  import_tasks: mcfly.yml
  when: ansible_distribution != 'MacOSX'
- name: Install ripgrep
  import_tasks: ripgrep.yml
  when: ansible_distribution != 'MacOSX'
- name: Install fdfind
  import_tasks: fdfind.yml
  when: ansible_distribution != 'MacOSX'
- name: Install Lazygit
  import_tasks: lazygit.yml
  when: ansible_distribution != 'MacOSX'
- name: Install Zoxide
  import_tasks: zoxide.yml
  when: ansible_distribution != 'MacOSX'
- name: Install fzf
  import_tasks: fzf.yml
  when: ansible_distribution != 'MacOSX'
- name: Install yazi
  import_tasks: yazi.yml
  when: ansible_distribution != 'MacOSX'
- name: Install fish
  import_tasks: fish.yml
  when: ansible_distribution != 'MacOSX'
- name: Install keychain
  import_tasks: keychain.yml
  when: ansible_distribution != 'MacOSX'
- name: Install starship
  import_tasks: starship.yml
  when: ansible_distribution != 'MacOSX'

- name: Intall cargo/rust
  import_tasks: cargo.yml

- name: Tree Sitter Cli
  import_tasks: tree-sitter-cli.yml
