---
- name: "Install homebrew packages"
  community.general.homebrew:
    name: ["fzf", "neovim", "asdf", "mcfly", "fd", "zoxide", "yazi", "fish", "keychain", "starship"]
    state: present
    update_homebrew: true
  when: ansible_facts['distribution'] == 'MacOSX'

- name: Install Neovim
  ansible.builtin.import_tasks: neovim.yml
  when: ansible_facts['distribution'] != 'MacOSX'
- name: Install Local McFly
  ansible.builtin.import_tasks: mcfly.yml
  when: ansible_facts['distribution'] != 'MacOSX'
- name: Install ripgrep
  ansible.builtin.import_tasks: ripgrep.yml
  when: ansible_facts['distribution'] != 'MacOSX'
- name: Install fdfind
  ansible.builtin.import_tasks: fdfind.yml
  when: ansible_facts['distribution'] != 'MacOSX'
- name: Install Lazygit
  ansible.builtin.import_tasks: lazygit.yml
  when: ansible_facts['distribution'] != 'MacOSX'
- name: Install Zoxide
  ansible.builtin.import_tasks: zoxide.yml
  when: ansible_facts['distribution'] != 'MacOSX'
- name: Install fzf
  ansible.builtin.import_tasks: fzf.yml
  when: ansible_facts['distribution'] != 'MacOSX'
- name: Install yazi
  ansible.builtin.import_tasks: yazi.yml
  when: ansible_facts['distribution'] != 'MacOSX'

## We're only going to install a fish shell if it's not present
- name: install fish| is there a system fish
  ansible.builtin.stat:
    path: /usr/bin/fish
  register: fish_stat

- name: Install fish
  ansible.builtin.import_tasks: fish.yml
  when: ansible_facts['distribution'] != 'MacOSX' and not fish_stat.stat.exists
- name: Install keychain
  ansible.builtin.import_tasks: keychain.yml
  when: ansible_facts['distribution'] != 'MacOSX'
- name: Install starship
  ansible.builtin.import_tasks: starship.yml
  when: ansible_facts['distribution'] != 'MacOSX'

- name: Intall cargo/rust
  ansible.builtin.import_tasks: cargo.yml
- name: Tree Sitter Cli
  ansible.builtin.import_tasks: tree-sitter-cli.yml
