---
- name: mcfly install
  include_tasks: install_github_release.yml
  vars:
    package_name: mcfly
    github_repo: cantino/mcfly
    download_url: "https://github.com/cantino/mcfly/releases/download/v{{ latest_version }}/mcfly-v{{ latest_version }}-i686-unknown-linux-musl.tar.gz"
