---
- name: ripgrep install
  include_tasks: install_github_release.yml
  vars:
    package_name: ripgrep
    github_repo: BurntSushi/ripgrep
    binary_name: rg
    download_url: "https://github.com/BurntSushi/ripgrep/releases/download/{{ latest_version }}/ripgrep-{{ latest_version }}-x86_64-unknown-linux-musl.tar.gz"
    extract_include: "ripgrep-{{ latest_version }}-x86_64-unknown-linux-musl/rg"
    extract_extra_opts: ["--strip-components=1"]
