---
- name: install tree-sitter-cli| confirm if tree-sitter is installed
  ansible.builtin.stat:
    path: ~/.cargo/bin/tree-sitter
  register: treesitter_check

- ansible.builtin.debug:
    var: treesitter_check

- name: install tree-sitter| run installer
  when: not treesitter_check.stat.exists
  ansible.builtin.shell: ~/.cargo/bin/cargo install --locked tree-sitter-cli
