---
- name: Install| get latest version
  include_tasks: fetch_latest_version.yml
  vars:
    package_name: zoxide
    github_repo: ajeetdsouza/zoxide

- name: Install| is it already installed
  stat:
    path: ~/bin/zoxide
  register: file_data

- name: Install| get version
  ansible.builtin.shell: ~/bin/zoxide -V | cut -d " " -f 2
  register: VERSION
  when: file_data.stat.exists

- name: Install| when there is no VERSION or it's contents don't match, do these
  block:
    - name: Install| download the latest version
      get_url:
        url: "https://github.com/ajeetdsouza/zoxide/releases/download/v{{ latest_version }}/zoxide-{{ latest_version}}-x86_64-unknown-linux-musl.tar.gz"
        dest: /tmp/zoxide.tar.gz
        mode: 0755

    - name: Extract binary
      unarchive:
        src: /tmp/zoxide.tar.gz
        dest: ~/bin/

  when: (not file_data.stat.exists) or (VERSION != latest_version)

- name: Do we have an old autojump file?
  stat:
    path: $HOME/.local/share/autojump/autojump.txt
  register: autojump_data

- name: On first install import autojump data
  ansible.builtin.command:
    cmd: ~/bin/zoxide import --from=autojump "$HOME/.local/share/autojump/autojump.txt"
  when: (not file_data.stat.exists) and autojump_data.stat.exists
