---
- name: dasht
  ansible.builtin.git:
    repo: https://github.com/sunaku/dasht.git
    dest: ~/.dasht
    depth: 1

- name: set permissions
  ansible.builtin.file:
    path: "{{ item }}"
    mode: "0755"
  loop:
    - ~/.dasht/etc/zsh/completions/
    - ~/.dasht/etc/zsh

- name: standard packages
  become: true
  ansible.builtin.apt:
    name: "{{ packages }}"
    update_cache: true
    cache_valid_time: 3600
  vars:
    packages:
      - socat
      - w3m
      - gawk
      - wget

- name: dasht documentation
  ansible.builtin.command: dasht-docsets-install -f  "{{ item }}"
  args:
    chdir: ~/.dasht/bin/
  loop:
    - bash
    - python2
    - python3
    - nginx
    - apache
    - vim
    - postgresql
    - html
    - docker
    - ansible
