---
- name: Add GPG key for neovim-ppa
  ansible.builtin.shell: curl -sL "https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x52B59B1571A79DBC054901C0F6BC817356A3D45E" | apt-key add
  become: true
  when: "'Microsoft' in ansible_kernel"

- ansible.builtin.apt_repository:
    repo: ppa:longsleep/golang-backports
  become: true

- name: standard packages
  ansible.builtin.apt:
    name: "{{ packages }}"
    update_cache: true
    cache_valid_time: 3600
  vars:
    packages:
      - golang-go
  become: true
