---
- name: email packages
  ansible.builtin.apt:
    name: "{{ packages }}"
    update_cache: true
    cache_valid_time: 3600
  become: true
  vars:
    packages:
      - neomutt
      - pass
      - gpg
      - catdoc
      #    - html2text
      - pandoc
      - msmtp

- ansible.builtin.git:
    repo: git@github.com:chrisfleming/pass.git
    dest: ~/.password-store
    update: false

- ansible.builtin.copy:
    src: mailcap
    dest: ~/.mailcap

- ansible.builtin.file:
    path: ~/.mutt/scripts/
    state: directory

- ansible.builtin.copy:
    src: filter_email.py
    dest: ~/.mutt/scripts/filter_email.py
    mode: "0500"

- ansible.builtin.copy:
    src: sendmail
    dest: ~/.mutt/scripts/sendmail
    mode: "0500"

- ansible.builtin.copy:
    src: MIMEmbellish
    dest: ~/.mutt/scripts/MIMEmbellish
    mode: "0500"

- ansible.builtin.template:
    src: msmtprc
    dest: ~/.msmtprc

- ansible.builtin.file:
    path: ~/.pandoc/templates/
    state: directory

- ansible.builtin.copy:
    src: email.html
    dest: ~/.pandoc/templates/email.html

- ansible.builtin.pip:
    executable: pip3
    name: beautifulsoup4
    extra_args: --user

- ansible.builtin.pip:
    executable: pip3
    name: lxml
    extra_args: --user

- ansible.builtin.pip:
    executable: pip3
    name: urlscan
    extra_args: --user

- ansible.builtin.pip:
    executable: pip3
    name: premailer
    extra_args: --user

    #- name: Install keybase
    #  become: yes
    #apt:
    #deb: https://prerelease.keybase.io/keybase_amd64.deb

    #- command: keybase ctl init

  #- name: Keybase Service
  #systemd:
  #  state: started
  #  name: keybase.service
  #  scope: user

  #- name: Keybase Service
  #systemd:
  #  state: started
  #  name: kbfs.service
  #  scope: user

  #- name: Keybase Service
  #systemd:
  #  state: started
  #  name: keybase-redirector.service
  #  scope: user
