---
- name: check for short-circuit
  ansible.builtin.raw: "> /dev/null command -v dropbox;"
  register: installed
  ignore_errors: true
  changed_when: false

- name: set should_run fact
  ansible.builtin.set_fact:
    should_run: "{{ installed | failed or not dropbox_should_shortcircuit }}"

- name: Install a .deb package from the internet.
  ansible.builtin.apt:
    deb: "{{ dropbox_url_ubuntu_deb }}"
  when: should_run
  become: true

- name: Install python dependencies
  ansible.builtin.apt:
    name: python-gtk2
  become: true

- name: Start dropox and install daemon
  ansible.builtin.command: /usr/bin/dropbox start -i
